<nav class="navbar navbar-expand-lg navbar-dark bg-navy sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'landing_page:index' %}">SwampWorks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'landing_page:about' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'landing_page:projects' %}">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'landing_page:contact' %}">Contact</a></li>
      </ul>
      {% if user.is_authenticated %}
        <a href="{% url 'dashboard:index' %}" class="btn btn-outline-light me-2">Dashboard</a>
        <a href="{% url 'accounts:logout' %}" class="btn btn-outline-light">Log Out</a>
      {% else %}
        <a href="{% url 'accounts:login' %}" class="btn btn-outline-light me-2">Log In</a>
        <a href="{% url 'accounts:register' %}" class="btn btn-success">Sign Up</a>
      {% endif %}
    </div>
  </div>
</nav>
